.alphaVantageContainer {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.alphaVantageContainer h2, .alphaVantageContainer h3 {
    color: #333;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.apiInfo, .apiData {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.apiInfo p, .apiData pre {
    color: #555;
    line-height: 1.6;
}

.apiData pre {
    background-color: #f1f1f1;
    padding: 15px;
    overflow-x: auto;
    border-radius: 5px;
}
.buttonStyle {
    display: table;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  };
