.alphaVantageContainer {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #F4F4F4;
}

.alphaVantageContainer h2 {
    color: #2C3E50;
    text-align: center;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup input,
.inputGroup select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

.inputGroup input[type="date"] {
    max-width: 140px;
}

button.submitButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

button.submitButton:hover {
    background-color: #0056b3;
}

.apiData table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.apiData th {
    background-color: #34495E;
    color: #ffffff;
    padding: 12px 15px;
}

.apiData td {
    padding: 12px 15px;
    color: #333333;
    border-bottom: 1px solid #dddddd;
}

.apiData tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.apiData tbody tr:hover {
    background-color: #d3ddd9;
}

.apiData tbody tr:last-of-type {
    border-bottom: 2px solid #34495E;
}

/* Worked to add pagination, so this is here for that but not used */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    border-radius: 4px;
    border: 1px solid #ddd;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .alphaVantageContainer {
        padding: 10px;
    }

    .inputGroup input[type="date"],
    button.submitButton {
        width: 100%;
    }

    .apiData th, .apiData td {
        padding: 8px;
    }

    .apiData table {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    button.submitButton {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .alphaVantageContainer h2 {
        font-size: 1.5rem;
    }

    .inputGroup {
        margin-bottom: 10px;
    }

    .pagination button {
        padding: 3px 6px;
    }
}
